/* ==============================================
  =================== MAIN ======================
  ============================================== */

:root {
  --main-color: #d3573c;
  --secondary-color: #901c1c;
  --tertiary-color: #db8876;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  margin: 0 auto;
  padding: 0;
}

#main {
  display: flex;
  flex-direction: column;
  margin: 0px 100px 0px 100px;
}

/* ==============================================
  ================ HERO HEADER ==================
  ============================================== */

.photograph-header {
  display: flex;
  align-items: center;
  width: 1093px;
  height: 313px;
}

.photograph-header-container {
  background-color: #fafafa;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 0 50px;
}

.photograph-header h2 {
  color: var(--main-color);
  font-size: 56px;
  font-style: normal;
  font-weight: 400;
  margin: 0;
}

.photograph-header .info {
  display: flex;
  flex-direction: column;
  align-items: start;
  margin: 0;
}

.photograph-header .location {
  color: var(--secondary-color);
  font-size: 24px;
  font-weight: 400;
  margin: 0;
}

.photographer-header .tagline {
  line-height: 4;
}

.contact_button {
  font-size: 20px;
  font-weight: bold;
  color: white;
  padding: 11px;
  width: 170px;
  height: 70px;
  border: none;
  background-color: var(--secondary-color);
  border-radius: 5px;
  cursor: pointer;
}

.photograph-header img {
  height: 200px;
  width: 200px;
  object-fit: cover;
  border-radius: 50%;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* ==============================================
  ================= PORTFOLIO ===================
  ============================================== */

.portfolio {
  width: 1093px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  gap: 95px;
}

.media {
  width: 300px;
  height: 300px;
  border-radius: 5px;
  overflow: hidden;
}

.media img {
  width: 300px;
  height: 300px;
  object-fit: cover;
}

.media video {
  width: 350px;
  height: 300px;
  object-fit: cover;
}

.caption {
  display: flex;
  justify-content: space-between;
}

.media-title {
  color: var(--secondary-color);
  font-size: 24px;
  font-weight: 400;
}

.like-counts {
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
  align-items: center;
  color: var(--secondary-color);
  font-size: 24px;
  font-weight: 500;
  margin: 0;
  gap: 5px;
}

/* ==============================================
  =============== CONTACT MODAL =================
  ============================================== */

#contact_modal {
  display: none;
  position: fixed;
  z-index: 1000;
  left: 0;
  top: 0;
  margin: 0 auto;
  width: 100%;
  height: 100%;
  padding: 35px;
  overflow: auto;
  background-color: rgba(196, 196, 196, 0.4);
}

.modal-content {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  width: 550px;
  background-color: var(--tertiary-color);
  border-radius: 5px;
  padding: 35px;
  gap: 20px;
  flex-grow: 1;
}

.modal header {
  display: flex;
  justify-content: space-between;
  align-items: start;
  width: 100%;
}

.modal header img {
  cursor: pointer;
  width: 30px;
  height: 30px;
}

.modal header h2 {
  font-size: 46px;
  font-weight: normal;
  width: 100%;
}

form {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: flex-start;
  flex-grow: 1;
}

form label {
  color: #312e2e;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  padding: 5px 0px;
}

form div {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: self-start;
  padding: 5px 0px;
}

form input {
  width: 100%;
  height: 50px;
  border: none;
  border-radius: 5px;
}

#message {
  width: 100%;
  height: 120px;
  border: none;
  border-radius: 5px;
  margin-bottom: 10px;
}

/* ==============================================
  ================== LIGHTBOX ===================
  ============================================== */

.lightbox-modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.9);
  display: none;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  border: 1px solid red;
}

.lightbox-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 930px;
  max-width: 95%;
  height: auto;
  max-height: 95%;
}

.lightbox-media-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: auto;
}

.lightbox-media-container .media {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 80vh;
}

.lightbox-media-container img,
.lightbox-media-container video {
  width: auto;
  height: auto;
  max-width: 100%;
  max-height: 100%;
}

.lightbox-close,
.lightbox-prev,
.lightbox-next {
  width: 96px;
  height: 96px;
  border: none;
  position: absolute;
  padding: 10px;
  cursor: pointer;
  z-index: 1000;
}

.lightbox-prev,
.lightbox-next {
  top: 50%;
  background: url(../assets/icons/arrow.svg) no-repeat;
  z-index: 1009;
}

.lightbox-close {
  right: 50px;
  background: url(../assets/icons/lightbox-close.svg) no-repeat;
}

.lightbox-prev {
  left: 50px;
}

.lightbox-next {
  right: 50px;
  transform: rotate(-180deg);
}

.lightbox-media-title {
  color: var(--secondary-color);
  font-size: 20px;
}
